@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("http://fonts.cdnfonts.com/css/euclid-circular-b?styles=100047,100046,100049");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol,
ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: #000;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Make images easier to work with */
img,
picture {
  height: auto;
  max-width: 100%;
  display: block;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

svg {
  fill: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  color: #000;
  transition: all 0.4s ease;
}

::-webkit-scrollbar {
  width: 0;
}

header {
  z-index: 100;
}

section {
  z-index: 50;
}

footer {
  z-index: 50;
}

.hidden {
  display: none;
}

.link-button {
  display: inline-block;
  padding: 18px 37px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
@media (max-width: 420px) {
  .link-button {
    font-size: 15px;
    padding: 15px 31px;
  }
}

.wrapper-max {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .wrapper-max {
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  .wrapper-max {
    max-width: 365px;
  }
}
@media (max-width: 420px) {
  .wrapper-max {
    max-width: 330px;
  }
}
@media (max-width: 350px) {
  .wrapper-max {
    max-width: 290px;
  }
}

.wrapper-min {
  max-width: 1000px;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .wrapper-min {
    max-width: 550px;
  }
}
@media (max-width: 768px) {
  .wrapper-min {
    max-width: 330px;
  }
}
@media (max-width: 420px) {
  .wrapper-min {
    max-width: 300px;
  }
}
@media (max-width: 350px) {
  .wrapper-min {
    max-width: 260px;
  }
}

.header {
  background: #fff;
  border-bottom: 1px solid #dde0e5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 15px;
  line-height: 22px;
}
.header__container {
  display: flex;
  height: 74px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
}
@media (max-width: 1300px) {
  .header__container {
    flex-direction: column;
    justify-content: center;
    height: 84px;
  }
}
@media (max-width: 768px) {
  .header__container {
    width: 100%;
    margin: 0;
    flex-direction: row;
  }
}
.header__logo {
  flex: 17.5%;
  transition: all 0.8s ease;
  position: relative;
  left: 0;
}
.header__logo--img {
  width: 120.84px;
  height: 27.4px;
}
@media (max-width: 1300px) {
  .header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .header__logo {
    left: 30px;
  }
}
.header__links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1300px) {
  .header__links {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .header__links {
    position: fixed;
    background: #ffe4bb;
    margin-top: 257px;
    width: 280px;
    height: 2000px;
    right: -400px;
    transition: all 0.8s ease;
    z-index: 10;
  }
}
.header-menu .menu-list {
  display: flex;
  align-items: center;
}
.header-menu .menu-list__item {
  margin-right: 27px;
}
.header-menu .menu-list__item:first-child {
  margin-right: 19px;
}
.header-menu .menu-list__item:last-child {
  margin-right: 0;
}
.header-menu .menu-list__link {
  transition: all 0.4s ease;
}
.header-menu .menu-list__link:hover {
  color: #ff7449;
}
@media (max-width: 768px) {
  .header-menu .menu-list {
    font-size: 20px;
    height: 185px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative;
    left: -48px;
  }
}
.header-menu__select-label {
  position: relative;
}
.header-menu .menu-list-select {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.4s ease;
}
.header-menu .menu-list-select:hover {
  color: #ff7449;
}
@media (max-width: 768px) {
  .header-menu .menu-list-select option {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .header-menu .menu-list-select {
    position: relative;
    left: -3px;
  }
}

.logo__img {
  transition: all 0.4s ease;
}
.logo__img:hover {
  transform: scale(1.15);
}

.header-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-options .options-wrapper {
  margin-right: 15px;
}
.header-options .options-wrapper:last-child {
  margin-right: 0px;
}
.header-options .options-select {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease;
}
.header-options .options-select:hover {
  color: #ff7449;
}
.header-options__basket {
  cursor: pointer;
  transition: all 0.4s ease;
}
.header-options__basket:hover {
  transform: scale(1.2);
}
.header-options__search {
  cursor: pointer;
  transition: all 0.4s ease;
}
.header-options__search:hover {
  transform: scale(1.2);
}
.header-options__log-in {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
.header-options__log-in:hover {
  color: #ff7449;
}
@media (max-width: 1300px) {
  .header-options {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .header-options {
    font-size: 20px;
    position: relative;
    left: -24px;
  }
}

.header__burger {
  display: none;
  transition: all 0.4s ease;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 23px;
    right: 30px;
    top: 32px;
    z-index: 100;
  }
}
@media (max-width: 1300px) {
  .header__burger .burger-line {
    width: 30px;
    height: 2px;
    background: #3d50f9;
  }
}
@media (max-width: 1300px) {
  .header__burger .line-second {
    margin-top: 8px;
  }
}
@media (max-width: 1300px) {
  .header__burger .line-third {
    margin-top: 8px;
  }
}

.burger-logo {
  display: none;
}
@media (max-width: 768px) {
  .burger-logo {
    display: block;
    padding-right: 108px;
    padding-bottom: 25px;
  }
}

.fog {
  display: none;
  z-index: 2;
  position: absolute;
  top: -30px;
  left: 0px;
  width: 100%;
  height: 120vh;
  background-color: rgba(41, 41, 41, 0.6);
}

.fog--active {
  display: block;
}

.burger-body--lock {
  overflow: hidden;
}

.header__logo--none {
  position: relative;
  left: -150%;
  z-index: 5;
}

.header__links--active {
  right: 0;
  z-index: 10;
}

.hero {
  padding: 158px 0 0 0;
}
.hero__container {
  display: flex;
  height: 588px;
  width: 100%;
  background: #3d50f9;
  border-radius: 30px;
  transition: all 0.4s ease;
}
.hero__container .hero-content {
  flex: 50%;
  padding: 115px 0px 114px 100px;
  color: #fff;
}
.hero__container .hero-content__subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 10px;
}
@media (max-width: 1300px) {
  .hero__container .hero-content__subtitle {
    font-size: 18px;
  }
}
.hero__container .hero-content__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 97%;
  margin: 0;
  margin: 0px 0px 31px 0px;
}
@media (max-width: 1300px) {
  .hero__container .hero-content__title {
    font-size: 32px;
  }
}
@media (max-width: 1300px) {
  .hero__container .hero-content__title {
    font-size: 33px;
  }
}
@media (max-width: 350px) {
  .hero__container .hero-content__title {
    font-size: 30px;
  }
}
.hero__container .hero-content__desk {
  max-width: 445px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 55px;
}
@media (max-width: 1300px) {
  .hero__container .hero-content__desk {
    font-size: 19px;
    max-width: 260px;
  }
}
@media (max-width: 768px) {
  .hero__container .hero-content__desk {
    margin-bottom: 10px;
  }
}
@media (max-width: 350px) {
  .hero__container .hero-content__desk {
    font-size: 15px;
  }
}
.hero__container .hero-content__link {
  background: #ffc960;
  color: #151824;
  transition: all 0.4s ease;
}
.hero__container .hero-content__link:hover {
  background: #ffb92d;
  color: #192043;
  box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.35);
}
.hero__container .hero-content__link:active {
  background: #e19600;
  color: #0f257d;
  box-shadow: 0px 9px 13px rgba(22, 25, 32, 0.65);
  transform: translateY(5px);
}
@media (max-width: 768px) {
  .hero__container .hero-content__link {
    position: absolute;
    bottom: 35px;
  }
}
@media (max-width: 1300px) {
  .hero__container .hero-content {
    padding: 43px 0px 35px 42px;
  }
}
@media (max-width: 768px) {
  .hero__container .hero-content {
    padding: 30px 35px 30px 40px;
  }
}
.hero__container .hero-background {
  flex: 50%;
  display: flex;
  align-items: center;
  position: relative;
  left: 46px;
}
.hero__container .hero-background__table {
  position: absolute;
  left: -11.5%;
  bottom: 14.5%;
}
@media (max-width: 1300px) {
  .hero__container .hero-background__table {
    max-width: 40%;
    left: -12.5%;
    bottom: 17.5%;
  }
}
@media (max-width: 1300px) {
  .hero__container .hero-background__img {
    max-width: 80%;
  }
}
.hero__container .hero-background__handles {
  position: absolute;
  right: 18.5%;
  top: 14.5%;
}
@media (max-width: 1300px) {
  .hero__container .hero-background__handles {
    max-width: 40%;
    right: 8.5%;
    top: 18.5%;
  }
}
@media (max-width: 1300px) {
  .hero__container .hero-background {
    left: 32px;
  }
}
@media (max-width: 768px) {
  .hero__container .hero-background {
    margin-bottom: 130px;
  }
}
@media (max-width: 1300px) {
  .hero__container {
    height: 450px;
  }
}
@media (max-width: 768px) {
  .hero__container {
    height: auto;
    flex-direction: column;
    position: relative;
  }
}
@media (max-width: 420px) {
  .hero {
    padding: 100px 0 0 0;
  }
}

.clients {
  padding: 155px 0 0 0;
}
.clients__container {
  display: flex;
}
@media (max-width: 1300px) {
  .clients__container {
    flex-direction: column;
  }
}
@media (max-width: 1300px) {
  .clients {
    padding: 100px 0 0 0;
  }
}

.cli-content {
  flex: 50%;
}
.cli-content__title {
  max-width: 350px;
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  margin: 0 0 21px 0;
  color: #151824;
}
@media (max-width: 768px) {
  .cli-content__title {
    font-size: 36px;
  }
}
.cli-content__desk {
  max-width: 380px;
  margin-bottom: 26px;
}
@media (max-width: 768px) {
  .cli-content__desk {
    max-width: 276px;
  }
}
.cli-content__team {
  position: relative;
  left: -9px;
  top: 8px;
}
@media (max-width: 1300px) {
  .cli-content {
    margin-left: 46px;
  }
}
@media (max-width: 768px) {
  .cli-content {
    margin-left: 28px;
  }
}

.clients-design {
  flex: 50%;
  position: relative;
  color: #fff;
}
.clients-design .clients-design-wrapper {
  position: absolute;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  cursor: pointer;
}
.clients-design__clients {
  width: 332px;
  height: 136px;
  top: 1.5%;
  left: 13%;
  background-color: #2c3442;
}
.clients-design__clients:hover {
  transform: translate(-10px, -20px);
  box-shadow: 0px 2px 33px rgba(22, 25, 32, 0.65);
  color: #ffc960;
}
@media (max-width: 768px) {
  .clients-design__clients {
    width: 275px;
    height: 110px;
    left: 6%;
  }
}
@media (max-width: 350px) {
  .clients-design__clients {
    left: 0%;
  }
}
.clients-design__years {
  height: 126px;
  width: 295px;
  top: 32.5%;
  left: 35.5%;
  background-color: #ff7449;
  z-index: 1;
}
.clients-design__years:hover {
  transform: translate(20px, -30px);
  box-shadow: 0px 2px 33px rgba(22, 25, 32, 0.65);
  color: #ffc960;
}
@media (max-width: 768px) {
  .clients-design__years {
    height: 104px;
    width: 215px;
    top: 27.5%;
    left: 32.5%;
  }
}
@media (max-width: 420px) {
  .clients-design__years {
    height: 86px;
    width: 189px;
    top: 27.5%;
    left: 32.5%;
  }
}
@media (max-width: 350px) {
  .clients-design__years {
    left: 19.5%;
  }
}
.clients-design__customers {
  width: 503px;
  height: 166px;
  bottom: -5%;
  left: 7%;
  background-color: #3d50f9;
}
.clients-design__customers:hover {
  transform: translate(5px, -30px);
  box-shadow: 0px 2px 33px rgba(22, 25, 32, 0.65);
  color: #ffc960;
}
@media (max-width: 768px) {
  .clients-design__customers {
    width: 310px;
    height: 116px;
    bottom: 15%;
    left: 6%;
  }
}
@media (max-width: 420px) {
  .clients-design__customers {
    width: 296px;
    height: 103px;
    bottom: 26%;
    left: 3%;
  }
  .clients-design__customers:hover {
    transform: translate(5px, 30px);
    box-shadow: 0px 2px 33px rgba(22, 25, 32, 0.65);
    color: #ffc960;
  }
}
@media (max-width: 350px) {
  .clients-design__customers {
    left: -6%;
  }
  .clients-design__customers:hover {
    transform: translate(5px, 30px);
    box-shadow: 0px 2px 33px rgba(22, 25, 32, 0.65);
    color: #ffc960;
  }
}
.clients-design .cli-design {
  text-align: left;
}
.clients-design .cli-design__title {
  margin: 0;
  font-weight: 600;
  font-size: 42px;
  line-height: 46px;
}
@media (max-width: 768px) {
  .clients-design .cli-design__title {
    font-size: 28px;
  }
}
.clients-design .cli-design__title--years {
  margin: 3px 0px 0px -3px;
}
.clients-design .cli-design__title--customers {
  margin: 15px 0px 0px -10px;
}
.clients-design .cli-design__desk {
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
}
.clients-design .cli-design__desk--years {
  margin: 0px 0px 0px -2px;
}
.clients-design .cli-design__desk--customers {
  margin: 5px 0px 0px -15px;
}
@media (max-width: 1300px) {
  .clients-design {
    min-height: 360px;
    margin-top: 40px;
  }
}

.benefits {
  padding: 192px 0 0 0;
}
.benefits__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all 0.4s ease;
}
.benefits__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
}
@media (max-width: 1300px) {
  .benefits__title {
    font-size: 39px;
  }
}
@media (max-width: 768px) {
  .benefits__title {
    font-size: 36px;
  }
}
@media (max-width: 420px) {
  .benefits__title {
    max-width: 297px;
  }
}
.benefits__link {
  margin-top: 72px;
}
.benefits__link--item {
  background-color: #3d50f9;
  display: inline-block;
  color: #fff;
  transition: all 0.4s ease;
}
.benefits__link--item:hover {
  background-color: #132afd;
  color: rgb(198, 198, 198);
  box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.35);
}
.benefits__link--item:active {
  background-color: #0313a5;
  color: rgb(136, 136, 136);
  box-shadow: 0px 9px 13px rgba(22, 25, 32, 0.65);
  transform: translateY(5px);
}
@media (max-width: 768px) {
  .benefits__link {
    margin-top: 40px;
  }
}
.benefits__cards {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
@media (max-width: 1300px) {
  .benefits__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .benefits {
    padding: 70px 0 0 0;
  }
}

.benefits-card {
  padding: 39px 46px 51px 39px;
  background-color: #fff3e1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: auto;
  text-align: left;
  cursor: pointer;
  transition: all 0.4s ease;
}
.benefits-card:hover {
  background-color: #ffe4bb;
  box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.35);
}
.benefits-card--offering {
  padding: 39px 35px 51px 36px;
}
.benefits-card__capture {
  position: relative;
  height: 70px;
}
.benefits-card__capture--bonuses {
  position: absolute;
  top: 0%;
  left: -1%;
}
.benefits-card__capture--support {
  position: absolute;
  top: -10%;
  left: 0%;
}
.benefits-card__capture--support-before {
  position: absolute;
  top: 4%;
  left: 0;
}
.benefits-card__capture--offering {
  position: absolute;
  top: -10%;
  left: -1%;
}
.benefits-card__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #151824;
  margin-top: 35px;
}
@media (max-width: 1300px) {
  .benefits-card__title {
    margin-top: 8px;
  }
}
.benefits-card__desk {
  font-size: 16px;
  line-height: 24px;
  margin-top: 19px;
}
.benefits-card__desk--bonuses {
  max-width: 222px;
}
@media (max-width: 1300px) {
  .benefits-card__desk--bonuses {
    max-width: 100%;
  }
}
.benefits-card__desk--support {
  max-width: 240px;
}
@media (max-width: 1300px) {
  .benefits-card__desk--support {
    max-width: 100%;
  }
}
.benefits-card__desk--offering {
  max-width: 255px;
}
@media (max-width: 1300px) {
  .benefits-card__desk--offering {
    max-width: 100%;
  }
}
@media (max-width: 1300px) {
  .benefits-card__desk {
    width: 480px;
    text-align: justify;
  }
}
@media (max-width: 1300px) {
  .benefits-card {
    padding: 25px 55px;
    width: 480px;
  }
}
@media (max-width: 768px) {
  .benefits-card {
    padding: 25px 22px;
    width: 390px;
  }
}
@media (max-width: 420px) {
  .benefits-card {
    width: 290px;
  }
}

.jump-start {
  padding: 150px 0 0 0;
}
.jump-start__container {
  display: flex;
  width: 100%;
  height: 716px;
  border-radius: 50px;
  background-color: #2c3442;
  transition: all 0.4s ease;
}
@media (max-width: 768px) {
  .jump-start__container {
    flex-direction: column;
    height: auto;
    position: relative;
  }
}
@media (max-width: 768px) {
  .jump-start {
    padding: 120px 0 0 0;
  }
}

.start-info {
  flex: 50%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 153px 95px 190px 95px;
  color: #ffffff;
}
.start-info__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
}
@media (max-width: 1300px) {
  .start-info__title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .start-info__title {
    font-size: 34px;
  }
}
@media (max-width: 420px) {
  .start-info__title {
    font-size: 31px;
  }
}
.start-info__desk {
  margin-top: 28px;
  margin-left: 4px;
}
.start-info .start-info-link {
  margin-top: 55px;
  margin-left: 5px;
}
.start-info .start-info-link__item {
  background-color: #ffc960;
  color: #151824;
  transition: all 0.4s ease;
}
.start-info .start-info-link__item:hover {
  background-color: #ffb92d;
  color: #192043;
  box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.35);
}
.start-info .start-info-link__item:active {
  background-color: #e19600;
  color: #0f257d;
  box-shadow: 0px 9px 13px rgba(22, 25, 32, 0.65);
  transform: translateY(5px);
}
@media (max-width: 768px) {
  .start-info .start-info-link {
    margin: 0;
    position: absolute;
    bottom: 50px;
  }
}
@media (max-width: 420px) {
  .start-info .start-info-link {
    left: 70px;
  }
}
@media (max-width: 350px) {
  .start-info .start-info-link {
    left: 45px;
  }
}
@media (max-width: 1300px) {
  .start-info {
    padding: 105px 20px 105px 35px;
  }
}
@media (max-width: 768px) {
  .start-info {
    padding: 75px 20px 0px 35px;
  }
}
@media (max-width: 350px) {
  .start-info {
    padding: 60px 15px 0px 15px;
  }
}

.start-content {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 117px 148px 117px 15px;
  color: #ffffff;
}
@media (max-width: 1300px) {
  .start-content {
    padding: 70px 35px 50px 10px;
  }
}
@media (max-width: 768px) {
  .start-content {
    padding: 70px 35px 50px 25px;
    margin-bottom: 100px;
  }
}
@media (max-width: 420px) {
  .start-content {
    margin-bottom: 82px;
  }
}
@media (max-width: 350px) {
  .start-content {
    padding: 70px 15px 50px 15px;
  }
}

.start-card {
  display: flex;
  margin-bottom: 48px;
}
.start-card:last-child {
  margin-bottom: 0px;
}

.start-card-number {
  position: relative;
}
.start-card-number__ellipse {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.start-card-number .ellipse--first {
  top: 43%;
}
.start-card-number .ellipse--second {
  top: 63%;
}
.start-card-number .ellipse--third {
  top: 83%;
}
.start-card-number .ellipse--fourth {
  top: 103%;
}
.start-card-number .start-card-num {
  width: 55px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-card-number .start-card-num--first::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../../../../assets/icons/jump-start/first-element.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 55px;
  height: 55px;
  z-index: 1;
}
.start-card-number .start-card-num--second::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../../../../assets/icons/jump-start/second-element.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 55px;
  height: 55px;
  z-index: 1;
}
.start-card-number .start-card-num--third::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../../../../assets/icons/jump-start/third-element.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 55px;
  height: 55px;
  z-index: 1;
}
.start-card-number .start-card-num__item {
  font-family: "Euclid Circular B";
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  position: relative;
  z-index: 10;
}
.start-card-number .start-card-num__item--first {
  color: #2c3442;
}

.start-card-info {
  padding: 16px 0px 18px 25px;
  color: #fff;
}
.start-card-info__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  margin-top: -17px;
}
@media (max-width: 1300px) {
  .start-card-info__title {
    font-size: 20px;
  }
}
@media (max-width: 420px) {
  .start-card-info__title {
    font-size: 17px;
  }
}
.start-card-info__desk {
  margin-top: 12px;
}
.start-card-info__desk--first {
  max-width: 332px;
}
@media (max-width: 1300px) {
  .start-card-info__desk--first {
    max-width: 100%;
    text-align: justify;
  }
}
.start-card-info__desk--second {
  max-width: 354px;
}
@media (max-width: 1300px) {
  .start-card-info__desk--second {
    max-width: 100%;
    text-align: justify;
  }
}
.start-card-info__desk--third {
  max-width: 346px;
}
@media (max-width: 1300px) {
  .start-card-info__desk--third {
    max-width: 100%;
    text-align: justify;
  }
}
.start-card-info__desk--page-link {
  color: #fff;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  transition: all 0.4s ease;
}
.start-card-info__desk--page-link:hover {
  color: rgb(198, 198, 198);
}
.start-card-info__desk--page-link:active {
  color: rgb(136, 136, 136);
}
@media (max-width: 1300px) {
  .start-card-info__desk {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .start-card-info {
    padding: 16px 0px 18px 12px;
  }
}

.promote {
  padding: 150px 0px 0px 0px;
}
.promote__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 489px 22px 489px;
  grid-template-columns: 489px 489px;
  grid-gap: 22px;
  transition: all 0.4s ease;
}
@media (max-width: 1300px) {
  .promote__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.promote-card {
  border-radius: 30px;
  width: 489px;
  height: 291px;
  transition: all 0.4s ease;
  cursor: pointer;
}
@media (max-width: 768px) {
  .promote-card {
    width: 100%;
    height: auto;
  }
}

.promote-main-card {
  background-color: #3d50f9;
}
.promote-main-card:hover {
  background-color: #132afd;
  box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.45);
}
.promote-main-card__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  padding: 73px 95px 80px 64px;
  color: #fff;
}
@media (max-width: 768px) {
  .promote-main-card__title {
    font-size: 34px;
    line-height: 46px;
    padding: 85px 15px 85px 15px;
    text-align: center;
  }
}

.promote-info-card {
  background-color: #fff3e1;
  padding: 0px 81px 55px 65px;
}
.promote-info-card:hover {
  background-color: #ffe4bb;
  box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.45);
}
.promote-info-card--licenses {
  padding: 0px 81px 55px 62px;
}
@media (max-width: 768px) {
  .promote-info-card--licenses {
    padding: 0px 30px 55px 30px;
  }
}
.promote-info-card__capture {
  position: relative;
  height: 35px;
  margin-top: 30px;
}
.promote-info-card__capture--licenses {
  position: absolute;
  top: 0%;
  left: 1%;
}
.promote-info-card__capture--aids {
  position: absolute;
  top: 6%;
  left: 0%;
}
.promote-info-card__capture--co-activities {
  position: absolute;
  top: 15%;
  left: 0%;
}
.promote-info-card__title {
  color: #151824;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  margin-top: 25px;
}
.promote-info-card__title--licenses {
  margin-top: 11px;
}
.promote-info-card__desk {
  margin-top: 12px;
  max-width: 330px;
}
.promote-info-card__desk--licenses {
  max-width: 350px;
}
@media (max-width: 768px) {
  .promote-info-card {
    padding: 0px 30px 55px 30px;
  }
}

.manage-sales {
  padding: 150px 0px 0px 0px;
}
.manage-sales__container {
  padding: 0px 20px 0px 25px;
  display: flex;
  transition: all 0.4s ease;
}
@media (max-width: 1300px) {
  .manage-sales__container {
    flex-direction: column;
    position: relative;
  }
}
.manage-sales__graphic {
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.manage-sales__graphic:hover {
  transform: scale(1);
  box-shadow: 0px 2px 33px rgba(22, 25, 32, 0.65);
}
@media (max-width: 1300px) {
  .manage-sales__graphic {
    margin-top: 70px;
  }
}
@media (max-width: 768px) {
  .manage-sales__graphic {
    margin-top: 120px;
  }
}
.manage-sales__content {
  padding: 0px 75px 0px 49px;
}
@media (max-width: 1300px) {
  .manage-sales__content {
    padding: 0;
  }
}

.sales__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  color: #151824;
}
@media (max-width: 1300px) {
  .sales__title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .sales__title {
    font-size: 36px;
  }
}
@media (max-width: 420px) {
  .sales__title {
    font-size: 32px;
  }
}
.sales__desk {
  margin-top: 32px;
}
.sales .sales-link {
  margin-top: 51px;
}
.sales .sales-link__item {
  background-color: #3d50f9;
  color: #fff;
  transition: all 0.4s ease;
}
.sales .sales-link__item:hover {
  background-color: #132afd;
  color: rgb(198, 198, 198);
  box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.35);
}
.sales .sales-link__item:active {
  background-color: #0313a5;
  color: rgb(136, 136, 136);
  box-shadow: 0px 9px 13px rgba(22, 25, 32, 0.65);
  transform: translateY(5px);
}

.product-languages {
  padding: 148px 0px 0px 0px;
}
.product-languages__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1220px;
  margin: 0 auto;
  transition: all 0.4s ease;
}
@media (max-width: 1300px) {
  .product-languages__container {
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  .product-languages__container {
    max-width: 365px;
  }
}
@media (max-width: 420px) {
  .product-languages__container {
    max-width: 330px;
  }
}
@media (max-width: 350px) {
  .product-languages__container {
    max-width: 290px;
  }
}

.languages__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  color: #151824;
}
@media (max-width: 1300px) {
  .languages__title {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  .languages__title {
    font-size: 34px;
  }
}
@media (max-width: 420px) {
  .languages__title {
    font-size: 31px;
  }
}
.languages__desk {
  margin-top: 16px;
  max-width: 596px;
  color: #3d3e47;
}

.languages-content {
  margin-top: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.languages-content .languages-content-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff3e1;
  border-radius: 10px;
  padding: 6px 12px;
  margin: 0px 6px 16px 6px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.languages-content .languages-content-item:hover {
  background-color: #ffe4bb;
  transform: scale(1);
  box-shadow: 0px 2px 17px rgba(22, 25, 32, 0.35);
  color: #ff3c00;
}
.languages-content .languages-content-item:hover .languages-content-item__circle {
  background-color: #ff3c00;
}
.languages-content .languages-content-item:nth-child(11) {
  margin: 0px 6px 16px 0px;
}
@media (max-width: 1300px) {
  .languages-content .languages-content-item:nth-child(11) {
    margin: 0px 6px 16px 6px;
  }
}
.languages-content .languages-content-item:nth-child(18) {
  margin: 0px 0px 16px 6px;
}
@media (max-width: 1300px) {
  .languages-content .languages-content-item:nth-child(18) {
    margin: 0px 6px 16px 6px;
  }
}
.languages-content .languages-content-item__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff7449;
  transition: all 0.4s ease;
  margin-right: 7px;
}
.languages-content .languages-content-item__country {
  font-weight: 500;
}
@media (max-width: 768px) {
  .languages-content {
    justify-content: space-evenly;
  }
}

.questions {
  padding: 133px 0px 0px 0px;
}
.questions__container {
  width: 100%;
  height: 318px;
  display: flex;
  background-color: #3d50f9;
  border-radius: 30px;
  transition: all 0.4s ease;
}
@media (max-width: 768px) {
  .questions__container {
    height: auto;
    flex-direction: column;
  }
}

.questions-introduction {
  flex: 50%;
  padding: 65px 0px 80px 207px;
}
.questions-introduction__icon {
  position: relative;
  height: 60px;
}
.questions-introduction__icon--image {
  position: absolute;
  top: 0;
  left: -1%;
}
.questions-introduction__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  color: #fff;
  margin-top: 22px;
}
@media (max-width: 420px) {
  .questions-introduction__title {
    font-size: 31px;
  }
}
@media (max-width: 1300px) {
  .questions-introduction {
    padding: 35px 0px 35px 55px;
  }
}
@media (max-width: 420px) {
  .questions-introduction {
    padding: 35px 25px 25px 35px;
  }
}

.questions-info {
  flex: 50%;
  padding: 96px 170px 0px 127px;
  font-weight: 500;
  color: #fff;
}
.questions-info__contacts {
  margin-top: 24px;
}
.questions-info__contacts--link {
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease;
}
.questions-info__contacts--link:hover {
  color: rgb(198, 198, 198);
  text-decoration: underline;
}
.questions-info__contacts--link:active {
  color: rgb(136, 136, 136);
  text-decoration: underline;
}
@media (max-width: 1300px) {
  .questions-info {
    padding: 108px 30px 25px 24px;
  }
}
@media (max-width: 768px) {
  .questions-info {
    padding: 57px 41px 80px 53px;
  }
}
@media (max-width: 420px) {
  .questions-info {
    padding: 49px 34px 68px 35px;
  }
}

.benefits-slider {
  padding: 150px 0px 0px 0px;
}
.benefits-slider__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease;
}
.benefits-slider__title {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  color: #151824;
  max-width: 645px;
}
@media (max-width: 768px) {
  .benefits-slider__title--first {
    margin-left: 0px;
  }
}
@media (max-width: 1300px) {
  .benefits-slider__title {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  .benefits-slider__title {
    font-size: 33px;
    max-width: 340px;
  }
}
@media (max-width: 350px) {
  .benefits-slider__title {
    font-size: 28px;
    max-width: 280px;
  }
}
@media (max-width: 1300px) {
  .benefits-slider {
    padding: 130px 0px 0px 0px;
  }
}

.slider {
  margin-top: 59px;
}
@media (max-width: 1300px) {
  .slider {
    margin-top: 25px;
  }
}

.slider-buttons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.slider-buttons .slider-btn {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  cursor: pointer;
}
.slider-buttons .slider-btn--next {
  right: -25px;
}
.slider-buttons .slider-btn--prev {
  left: -25px;
}
.slider-buttons .slider-btn:hover {
  background-color: rgb(198, 198, 198);
  box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.35);
}
.slider-buttons .slider-btn:active {
  background-color: rgb(136, 136, 136);
  box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.55);
}

.slide {
  height: 352px;
  display: flex;
  background-color: #fff3e1;
}
@media (max-width: 768px) {
  .slide {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
}

.slide-introduction {
  flex: 50%;
  position: relative;
  padding: 92px 20px 108px 96px;
}
.slide-introduction__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #151824;
  z-index: 2;
}
@media (max-width: 1300px) {
  .slide-introduction__title {
    font-size: 24px;
  }
}
@media (max-width: 420px) {
  .slide-introduction__title {
    font-size: 20px;
  }
}
.slide-introduction::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 15%;
  background-image: url("../../../../../assets/icons/benefits-slider/slider-design.png");
  width: 123px;
  height: 87px;
  z-index: -1;
}
@media (max-width: 1300px) {
  .slide-introduction {
    padding: 70px 10px 40px 40px;
  }
  .slide-introduction::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 5%;
    background-image: url("../../../../../assets/icons/benefits-slider/slider-design.png");
    width: 123px;
    height: 87px;
    z-index: -1;
  }
}
@media (max-width: 420px) {
  .slide-introduction {
    flex: 0;
    padding: 70px 15px 40px 15px;
  }
}
@media (max-width: 350px) {
  .slide-introduction {
    padding: 70px 25px 40px 25px;
  }
}

.slide-content {
  flex: 50%;
  color: #3d3e47;
  padding: 94px 95px 66px 55px;
}
.slide-content__desk {
  max-width: 350px;
}
@media (max-width: 1300px) {
  .slide-content {
    padding: 75px 25px 30px 25px;
  }
}
@media (max-width: 768px) {
  .slide-content {
    padding: 30px 25px 30px 25px;
  }
}
@media (max-width: 420px) {
  .slide-content {
    flex: 0;
    padding: 5px 15px 30px 15px;
  }
}
@media (max-width: 350px) {
  .slide-content {
    padding: 5px 30px 30px 30px;
  }
}

.person {
  display: flex;
  margin-top: 21px;
}
.person__img {
  width: 48px;
  height: 48px;
}
.person .person-info {
  padding: 3px 0px 0px 17px;
}
.person .person-info__name {
  font-family: "Euclid Circular B";
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}
.person .person-info__desk {
  font-size: 14px;
  line-height: 24px;
}

/**
  * SimpleAdaptiveSlider by Itchief v2.0.0 (https://github.com/itchief/ui-components/tree/master/simple-adaptive-slider)
  * Copyright 2020 - 2021 Alexander Maltsev
  * Licensed under MIT (https://github.com/itchief/ui-components/blob/master/LICENSE)
  */
/* стили для корневого элемента слайдера */
.itcss {
  position: relative;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1300px) {
  .itcss {
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  .itcss {
    max-width: 350px;
  }
}
@media (max-width: 420px) {
  .itcss {
    max-width: 260px;
  }
}

/* стили для wrapper */
.itcss__wrapper {
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

/* стили для элемента, в котором непосредственно расположены элементы (слайды) */
.itcss__items {
  display: flex;
  transition: transform 0.5s ease;
}

/* класс для отключения transition */
.transition-none {
  transition: none;
}

/* стили для элементов */
.itcss__item {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

/* кнопки Prev и Next */
.itcss__control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

.itcss__control_prev {
  left: 0;
}
.itcss__control_prev::before {
  content: "";
  position: relative;
  z-index: 1000;
  background-image: url("../../../../../assets/icons/benefits-slider/slider-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}

.itcss__control_next {
  right: 0;
}
.itcss__control_next::before {
  content: "";
  position: relative;
  z-index: 1000;
  background-image: url("../../../../../assets/icons/benefits-slider/slider-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}

/* Индикаторы */
.itcss__indicators {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -48px;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0 15%;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.itcss__indicator {
  width: 15px;
  height: 15px;
  margin-right: 7px;
  margin-left: 7px;
  border-radius: 50%;
  background-color: #3d50f9;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.6s ease;
}
.itcss__indicator:hover {
  background-color: #132afd;
  opacity: 0.7;
  transform: translateY(-2px);
}
.itcss__indicator:active {
  background-color: #0313a5;
  opacity: 0.7;
  transform: translateY(-2px);
}

.itcss__indicator_active {
  background-color: #3d50f9;
  opacity: 1;
}

.partner-form {
  padding: 198px 0px 0px 0px;
}
.partner-form__wrapper {
  background-color: #2c3442;
}
.partner-form__container {
  display: flex;
  padding: 98px 0px 109px 0px;
  transition: all 0.4s ease;
}
@media (max-width: 1300px) {
  .partner-form__container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1300px) {
  .partner-form {
    padding: 150px 0px 0px 0px;
  }
}

.form-introduction {
  flex: 45%;
  color: #fff;
  position: relative;
  z-index: 1;
}
.form-introduction::before {
  content: "";
  position: absolute;
  top: 2%;
  left: -11%;
  background-image: url("../../../../../assets/icons/partner-form/design-form.svg");
  width: 231px;
  height: 232px;
  z-index: -1;
}
.form-introduction__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  margin: 76px 0px 38px 0px;
  max-width: 345px;
  position: relative;
  z-index: 1;
}
@media (max-width: 420px) {
  .form-introduction__title {
    font-size: 35px;
  }
}
.form-introduction__desk {
  font-size: 24px;
  line-height: 120%;
  max-width: 295px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1300px) {
  .form-introduction {
    margin-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .form-introduction {
    margin-left: 36px;
  }
}

.form-wrap {
  flex: 55%;
  margin-left: 17px;
}
@media (max-width: 768px) {
  .form-wrap {
    margin-left: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fff;
  box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.1);
  border-radius: 30px;
  padding: 44px 56px 65px 56px;
  width: 539px;
  height: 587px;
}
.form label {
  position: relative;
}
.form__title {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #151824;
  margin-bottom: 20px;
}
.form__input {
  width: 100%;
  background: #fff;
  border: 1px solid #abb0ba;
  border-radius: 4px;
  margin-bottom: 14px;
  height: 44px;
  padding: 10px 19px;
  outline: 1px solid transparent;
  transition: all 0.5s ease;
}
@media (max-width: 420px) {
  .form__input {
    font-size: 14px;
  }
}
.form__input::-moz-placeholder {
  color: #a9a9a9;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.form__input:-ms-input-placeholder {
  color: #a9a9a9;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.form__input::placeholder {
  color: #a9a9a9;
  transition: all 0.5s ease;
}
.form__input:focus {
  border: 1px solid #3d50f9;
  box-shadow: 0px 0px 4px rgba(41, 160, 228, 0.7);
  border-radius: 4px;
}
.form__input:focus::-moz-placeholder {
  color: #3d50f9;
}
.form__input:focus:-ms-input-placeholder {
  color: #3d50f9;
}
.form__input:focus::placeholder {
  color: #3d50f9;
}
.form__textarea {
  overflow-y: scroll;
  font-size: 16px;
  line-height: 24px;
  height: 104px;
  padding: 10px 54px 19px 17px;
  margin-bottom: 27px;
}
@media (max-width: 420px) {
  .form__textarea {
    font-size: 14px;
  }
}
.form__textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.form__textarea::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
.form__textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.form__info {
  color: #3d3e47;
  margin-bottom: 20px;
}
.form__info--underline {
  text-decoration: underline;
}
@media (max-width: 420px) {
  .form__info {
    font-size: 14px;
  }
}
.form__btn {
  width: 100%;
  border-radius: 10px;
  background-color: #3d50f9;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}
.form__btn:hover {
  background-color: #132afd;
  color: rgb(198, 198, 198);
  box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.35);
}
.form__btn:active {
  background-color: #0313a5;
  color: #fff;
  box-shadow: 0px 9px 13px rgba(22, 25, 32, 0.65);
  transform: translateY(5px);
}
@media (max-width: 1300px) {
  .form {
    padding: 44px 30px 65px 30px;
    width: 485px;
  }
}
@media (max-width: 768px) {
  .form {
    padding: 35px 15px 35px 15px;
    max-width: 315px;
  }
}
@media (max-width: 420px) {
  .form {
    padding: 35px 15px 35px 15px;
    max-width: 275px;
    height: auto;
  }
}

.form-error-message {
  color: red;
  position: absolute;
  top: -19px;
  left: 2px;
  font-size: 12px;
}

.field-invalid {
  border: 1px solid red;
  transition: all 0.5s ease;
}
.field-invalid::-moz-placeholder {
  color: red;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.field-invalid:-ms-input-placeholder {
  color: red;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.field-invalid::placeholder {
  color: red;
  transition: all 0.5s ease;
}
.field-invalid:focus {
  border: 1px solid red;
  box-shadow: 0px 0px 4px red;
  border-radius: 4px;
}

.btn-invalid {
  transition: all 0.5s ease;
  background-color: rgb(136, 136, 136);
  color: #000;
}
.btn-invalid:hover {
  background-color: rgb(136, 136, 136);
  color: #000;
  box-shadow: none;
}
.btn-invalid:active {
  background-color: rgb(136, 136, 136);
  color: #000;
  box-shadow: none;
  transform: translateY(0);
}

.footer {
  padding: 100px 0px 84px 0px;
}
.footer__container {
  font-size: 14px;
  line-height: 26px;
  color: #3d3e47;
  display: flex;
  transition: all 0.4s ease;
}
@media (max-width: 1300px) {
  .footer__container {
    flex-direction: column;
  }
}
@media (max-width: 1300px) {
  .footer {
    padding: 70px 0px 60px 0px;
  }
}

.footer-copyright {
  flex: 50%;
  margin-left: 6px;
}
.footer-copyright__logo {
  margin-bottom: 15px;
}
.footer-copyright__text {
  max-width: 375px;
}
@media (max-width: 1300px) {
  .footer-copyright {
    margin-left: 0px;
    margin-bottom: 30px;
  }
}

.footer-subscribtion {
  flex: 50%;
  position: relative;
  left: 41px;
  padding: 0px 41px 0px 0px;
}
.footer-subscribtion__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 31px;
  margin-bottom: 8px;
}
.footer-subscribtion__desk {
  margin-bottom: 16px;
}
@media (max-width: 1300px) {
  .footer-subscribtion {
    padding: 0;
    left: 0;
  }
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
}
.subscribe-form__input {
  height: 38px;
  width: 303px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 26px;
  transition: all 0.5s ease;
  border: 1px solid #c3c4ca;
  border-radius: 3px;
}
.subscribe-form__input::-moz-placeholder {
  color: #8c929b;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.subscribe-form__input:-ms-input-placeholder {
  color: #8c929b;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.subscribe-form__input::placeholder {
  color: #8c929b;
  transition: all 0.5s ease;
}
.subscribe-form__input:focus {
  border: 1px solid #3d50f9;
  box-shadow: 0px 0px 4px rgba(41, 160, 228, 0.7);
  border-radius: 4px;
}
.subscribe-form__input:focus::-moz-placeholder {
  color: #3d50f9;
}
.subscribe-form__input:focus:-ms-input-placeholder {
  color: #3d50f9;
}
.subscribe-form__input:focus::placeholder {
  color: #3d50f9;
}
@media (max-width: 1300px) {
  .subscribe-form__input {
    width: 396px;
  }
}
@media (max-width: 768px) {
  .subscribe-form__input {
    width: 100%;
  }
}
.subscribe-form__btn {
  margin-left: 9px;
  padding: 6px 0px;
  background: #3d50f9;
  border-radius: 3px;
  color: #fff;
  border: none;
  width: 144px;
  font-size: 14px;
  line-height: 26px;
  transition: all 0.4s ease;
}
@media (max-width: 768px) {
  .subscribe-form__btn {
    margin-left: 0;
    margin-top: 10px;
  }
}
.subscribe-form__btn:hover {
  background-color: #132afd;
  color: rgb(198, 198, 198);
  box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.35);
}
.subscribe-form__btn:active {
  background-color: #0313a5;
  color: #fff;
  box-shadow: 0px 9px 13px rgba(22, 25, 32, 0.65);
  transform: translateY(5px);
}
@media (max-width: 768px) {
  .subscribe-form {
    max-width: 365px;
    flex-direction: column;
  }
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*//*# sourceMappingURL=style.css.map */