// media queries for this project
$media-laptops: 1300px;
// $media-small-desktops: 991px; ToDo in the future :)
$media-tablets: 768px;
// $media-small-tablets: 650px; ToDo in the future :)
$media-phones: 420px;
$media-small-phones: 350px;

// colors

$main-color: #008000;
$main-color-hover: #009100;
$main-color-active: #00f500;

$button-color: #000;
$button-color-hover: rgb(86, 86, 86);
$button-color-active: #bbbbbb;

$title-color: #39ff3fb0;
$identificator-color: #b9b300;
